<p id="notice"><%= notice %></p>

<p>
  <strong>Daw promo:</strong>
  <%= @daw_curso_promo.daw_promo %>
</p>

<%= link_to 'Edit', edit_daw_curso_promo_path(@daw_curso_promo) %> |
<%= link_to 'Back', daw_curso_promos_path %>
