<p id="notice"><%= notice %></p>

<p>
  <strong>Ali tipojuridico:</strong>
  <%= @daw_alianza.ali_tipojuridico %>
</p>

<%= link_to 'Edit', edit_daw_alianza_path(@daw_alianza) %> |
<%= link_to 'Back', daw_alianzas_path %>
