<p id="notice"><%= notice %></p>

<p>
  <strong>Dire fechaingr:</strong>
  <%= @daw_director.dire_fechaingr %>
</p>

<%= link_to 'Edit', edit_daw_director_path(@daw_director) %> |
<%= link_to 'Back', daw_directors_path %>
