<p id="notice"><%= notice %></p><br><br><br>

<p>
  <strong>Orden:</strong>
  <%= @daw_tema_mate_acad.tmac_orden %>
</p>

<%= link_to 'Edit', edit_daw_tema_mate_acad_path(@daw_tema_mate_acad) %> |
<%= link_to 'Back', daw_tema_mate_acads_path %>
