<p id="notice"><%= notice %></p>

<p>
  <strong>Daw promo:</strong>
  <%= @daw_matricula_promo.daw_promo %>
</p>

<%= link_to 'Edit', edit_daw_matricula_promo_path(@daw_matricula_promo) %> |
<%= link_to 'Back', daw_matricula_promos_path %>
