<%= form_for(@daw_curso) do |f| %>
  <% if @daw_curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daw_curso.errors.count, "error") %> prohibited this daw_curso from being saved:</h2>

      <ul>
      <% @daw_curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
