<p id="notice"><%= notice %></p>

<p>
  <strong>Daw promocion:</strong>
  <%= @daw_matricula_promocion.daw_promocion %>
</p>

<%= link_to 'Edit', edit_daw_matricula_promocion_path(@daw_matricula_promocion) %> |
<%= link_to 'Back', daw_matricula_promocions_path %>
