<p id="notice"><%= notice %></p>

<p>
  <strong>Asist fecha:</strong>
  <%= @daw_asistir.asist_fecha %>
</p>

<%= link_to 'Edit', edit_daw_asistir_path(@daw_asistir) %> |
<%= link_to 'Back', daw_asistirs_path %>
